/*Content - The content of the box, where text and images appear
Padding - Clears an area around the content. The padding is transparent
Border - A border that goes around the padding and content
Margin - Clears an area outside the border. The margin is transparent. margins dont define width of box, just how far contents should be pushed away from it */

#interests{
    width: 80%;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    background-color: cyan;
    
      
  }
/*example
div {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  width: 100px;
  border: 10px solid black;
} 
here pixels of this id of div tag will have 140px */



/*the margin btwn these 2 div elements will be 20px ie:
div{
  margin-bottom: 10px;
}
div{
  margin-top: 20px;
}
this is because vertcal margins that touch collapse and the larger one wins */  
/*for right and left margin, total is equal to their sum since they combine*/
   
/*Total element width = width + left padding + right padding + left border + right border + left margin + right margin*/
/*Total element height = height + top padding + bottom padding + top border + bottom border + top margin + bottom margin */
 
body{
    margin: 0;
    padding: 0;
    background-color: rgb(178, 32, 134);
    box-sizing: border-box;
}


  